@import url("https://fonts.googleapis.com/css?family=Roboto:700");

.first-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header{
  background-color: black;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom-color: #aea4a4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  box-shadow: 0px 5px 5px rgb(78, 78, 78);
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-img {
  height: 50px;
  border-radius: 50%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: 25px;
}

.default-text {
  font-family: Delius;
  font-weight: 600;
}

.heading {
  font-size: 20px;
  transition: font-size 0.15s;
}
.heading:hover {
  font-size: 21px;
}

.heading-name {
  font-size: 1.3rem;
  padding-left: 8px;
  transition: font-size 0.25s;
  font-family: Delius;
  font-weight: 900;
}

.heading-name:hover {
  font-size: 1.2rem;
}

.heading-name {
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
    0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #7c616b, 0 0 20px #ff005e,
      0 0 40px #543641, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
      0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

.slogan {
  position: absolute;
  bottom: 30px;
}
.slogan-text {
  font-family: cursive;
}

.name-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  color: #999;
  text-transform: uppercase;
  /* font-size: 40px; */
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 50px;
  width: 100%;
}
.name-container {
  position: relative;
}
.intro {
  text-transform: none;
  position: absolute;
  left: 7px;
  top: -30px;
}
.main-name {
  font-size: 7rem;
}

#flip {
  height: 70px;
  overflow: hidden;
}

#flip > div > div {
  font-size: 36px;
  text-transform: none;
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 8s linear infinite;
  border-radius: 10px;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #cb14dc;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

p {
  position: fixed;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}

/* Responsive */



